[user]
	name = Evgeni Ivanov
	email = e_ivanov@corp.mail.ru
[push]
	default = current
[color]
	ui = true
[alias]
	st = status
	sta = status
	co = checkout
	br = branch
	ci = commit
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
